a {
  cursor: pointer;
}

body,
html {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #191919;
  font-family: 'Lato', sans-serif;
}

/************** Navbar *************************/

.nav_items {
  display: none;
}

.menu_icon {
  margin: 1rem;
}

menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.menu_items {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  height: 90vh;
  margin: 0;
  padding: 30px 28px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  display: none;
  flex-direction: column;
  gap: 34px;
}

.close_menu_icon {
  color: #67798e;
  text-align: end;
  margin: 0;
  width: 100%;
  font-size: 1.5rem;
}

.menu_items ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.menu_items ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1.1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.fa-bars {
  font-size: 2rem;
  font-weight: 900;
  color: #191919;
}

/*********** Headline section **********************/
.headline_section {
  background-image: url('./images/headline_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
}

.headline_item {
  position: absolute;
  top: 30%;
  width: 100%;
  color: #d3d3d3;
  text-transform: capitalize;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.headline_time {
  margin-top: 2rem;
}

.headline_date {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  justify-content: center;
  padding-right: 1rem;
  font-size: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.headline_venue {
  font-size: 1.5rem;
  color: #fff;
}

h4 {
  margin: 0.5rem;
}

.headline_header {
  font-size: 3rem;
  font-weight: 900;
  color: #ec5242;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.headline_header span {
  color: #d3d3d3;
}

.headline_description {
  color: #ffffff;
  padding: 10px;
  line-height: 2rem;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  text-align: center;
}

/****************** Main Program ***************/

#main_program {
  width: 100%;
  background-color: #dedede;
  padding: 3rem 1rem;
  box-sizing: border-box;
}

.program {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.program_header {
  font-size: 1.5rem;
  margin: 0;
  color: #191919;
}

.program_list {
  display: grid;
  gap: 0.5rem;
}

.program_title {
  font-size: 1.2rem;
  margin: 0;
  color: #ec5242;
}

.program_item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #c4bebe;
  padding: 1rem;
  gap: 0.7rem;
}

.icons_material {
  font-size: 2.5rem;
  color: #272a31;
}

.program_item h3,
.program_item p {
  margin: 0;
}

.program_description {
  text-align: center;
  color: #272a31;
}

.program_button {
  background-color: #ec5242;
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  margin-top: 2rem;
}

#speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 50px 0;
}

.speakers_header {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  color: #191919;
}

.speakers_container {
  display: grid;
  width: 100%;
  gap: 1rem;
}

.speaker_header_underline {
  border-bottom: 4px solid #ec5242;
  width: 5rem;
  text-align: center;
}

.speaker_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
}

.speaker_item .speaker_image {
  width: 100%;
}

.speaker_name {
  font-size: 1.3rem;
  font-weight: 800;
  color: #272a31;
  margin: 0;
  width: 100%;
}

.speaker_title {
  font-size: 1rem;
  font-weight: 600;
  color: #ec5242;
  margin: 0;
}

.speaker_description {
  font-size: 1rem;
  font-weight: 400;
  color: #272a31;
  margin: 0;
}

/************************************************* Media Query breakpoints ******************************************/

@media (min-width: 500px) {
  .speakers_container {
    justify-content: center;
  }

  .speaker_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  /****** Navbar ********************************/
  .menu_icon {
    display: none;
  }

  .nav_items {
    display: flex;
    flex-direction: column;
  }

  .toolbar_top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    background-color: #272a31;
    padding-right: 10rem;
    box-sizing: border-box;
  }

  .toolbar_top ul {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    margin: 0;
    padding: 10px 0;
    font-size: 12px;
  }

  .toolbar_top ul a {
    color: #fff;
  }

  .toolbar_top ul li,
  .icons {
    list-style: none;
    color: #fff;
  }

  .toolbar_bottom {
    display: flex;
    color: #272a31;
    justify-content: space-around;
    background-color: #ffffff;
  }

  .toolbar_bottom nav {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .toolbar_bottom a {
    text-decoration: none;
    font-size: 1rem;
    color: #272a31;
    font-weight: 600;
  }

  .toolbar_bottom a:active {
    color: #ec5242;
  }

  a[tabindex]:focus {
    color: #ec5242;
    outline: none;
  }

  /************************************ Headline section **********************************************/
  .headline_section {
    background-image: url('./images/headline_bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
  }

  .headline_item {
    align-items: flex-start;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 7%;
    width: 80%;
    color: #d3d3d3;
    text-transform: capitalize;
  }

  .headline_date {
    width: 50%;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    justify-content: center;
    padding-right: 1rem;
    font-size: 2rem;
    text-align: start;
  }

  h4 {
    margin: 0.5rem;
  }

  .headline_header {
    font-size: 5.5rem;
    font-weight: 900;
    color: #ec5242;
    line-height: 6.5rem;
    margin: 0;
    width: 90%;
    text-align: start;
  }

  .headline_header span {
    color: #d3d3d3;
  }

  .headline_description {
    color: #ffffff;
    padding: 10px;
    width: 70%;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: start;
  }

  /****************** Main Program ***************/

  #main_program {
    width: 100%;
    background-color: #dedede;
    padding: 50px 1rem;
    box-sizing: border-box;
  }

  .program_header {
    font-size: 2.5rem;
    margin: 0;
    color: #191919;
  }

  .program_list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 10%;
    box-sizing: border-box;
  }

  .program_item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .program_header_underline {
    border-bottom: 4px solid #ec5242;
    width: 5rem;
  }

  .program_item h3,
  .program_item p {
    margin: 0;
  }

  .program_description {
    text-align: center;
  }

  /************ Speakers section ********************/

  #speakers {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 50px 0;
  }

  .speakers_header {
    text-align: center;
    margin: 0;
  }

  .speakers_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
    gap: 2rem;
    margin: 0 auto;
    justify-content: flex-end;
  }

  .speaker_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .speaker_item .speaker_image {
    width: auto;
    height: auto;
  }

  .speaker_header_underline {
    border-bottom: 4px solid #ec5242;
    width: 5rem;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .program_list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 5%;
    box-sizing: border-box;
  }

  .speakers_container {
    padding: 0 5%;
  }

  .speaker_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
}

@media (min-width: 1300px) {
  .program_list {
    width: 100%;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    padding: 0 5%;
  }

  .speakers_container {
    padding: 0 10%;
  }
}
